
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="/modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />

    <title>ShopApp</title>
</head>
<body>
   
    <partial name="_navbar"/>

    <div class="container pt-100 mb-5" style="color: white;">
        @if(TempData["message"]!=null){
            <partial name="_resultmessage" model="@(TempData.Get<ResultMessage>("message"))"/>
        }
        @RenderBody()
       
    </div>

     <script src="https://app.aitawise.com/static/chatbot/js/chatbubble.js" data-id="12800446-57d8-43e8-8b3e-211228742ca5" data-domain="https://app.aitawise.com" ></script>
    <script src="/modules/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="/modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>
