
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">

  
 


    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    
    
    <div class="site-navbar-wrap">
      <div class="site-navbar-top">
        <div class="container py-3">
          <div class="row align-items-center">
            <div class="col-6">
              <div class="d-flex mr-auto">
                <a href="#" class="d-flex align-items-center mr-4">
                  <span class="icon-envelope mr-2"></span>
                  <span class="d-none d-md-inline-block">technoapp34@gmail.com</span>
                </a>
                <a href="#" class="d-flex align-items-center mr-auto">
                  <span class="icon-phone mr-2"></span>
                  <span class="d-none d-md-inline-block">+216 000 52 52</span>
                </a>
              </div>
            </div>
            <div class="col-6 text-right">
              <div class="mr-auto">
                <a href="#" class="p-2 pl-0"><span class="icon-twitter"></span></a>
                <a href="#" class="p-2 pl-0"><span class="icon-facebook"></span></a>
                <a href="#" class="p-2 pl-0"><span class="icon-linkedin"></span></a>
                <a href="#" class="p-2 pl-0"><span class="icon-instagram"></span></a>
              </div>
              
            </div>
          </div>
        </div>
      </div>

      <div class="site-navbar site-navbar-target js-sticky-header">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-2">
              <h1 class="my-0 site-logo"><a href="/">TechnoApp</a></h1>
            </div>
            <div class="col-10">
              <nav class="site-navigation text-right" role="navigation">
                <div class="container">
                  <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

                  <ul class="site-menu main-menu js-clone-nav d-none d-lg-block">
                    <li class="nav-item">
                      <a class="nav-link active" asp-controller="Home" asp-action="Index">Home</a>
                  </li>
                  <li class="nav-item">
                      <a  asp-controller="Shop" asp-action="List" class="nav-link">Products</a>
                  </li>
                 @if(User.Identity.IsAuthenticated){
                  <li class="nav-item">
                      <a asp-controller="Cart" asp-action="Index" class="nav-link">Cart</a>
                  </li>
                  <li class="nav-item">
                      <a asp-controller="Cart" asp-action="GetOrders" class="nav-link">Orders</a>
                  </li>
                  @if(User.IsInRole("admin")){
                    <li class="has-children">
                      <a href="#" class="nav-link">Admin Processes</a>
                      <ul class="dropdown arrow-top">
                        <li class="nav-item">
                          <a asp-controller="Admin" asp-action="CreateProduct" class="nav-link">Add Product</a>
                      </li>
                      <li class="nav-item">
                          <a asp-controller="Admin" asp-action="ProductList" class="nav-link">Admin Products</a>
                      </li>
                      <li class="nav-item">
                          <a asp-controller="Admin" asp-action="CreateCategory" class="nav-link">Add Category</a>
                      </li>
                      <li class="nav-item">
                          <a asp-controller="Admin" asp-action="CategoryList" class="nav-link">Admin Categories</a>
                      </li>
                      </ul>
                    </li>
                    }
                    }
                 @if(User.Identity.IsAuthenticated){
                  <li class="nav-item">
                      <p class="nav-link">@User.Identity.Name</p>
                  </li>
                    <li class="nav-item">
                      <a asp-controller="Account" asp-action="Logout" class="nav-link">Logout</a>
                  </li>
                  }else{
                  <li class="nav-item">
                      <a asp-controller="Account" asp-action="Login" class="nav-link">Login</a>
                  </li>
                  <li class="nav-item">
                      <a asp-controller="Account" asp-action="Register" class="nav-link">Register</a>

                  </li>
                  }
                  </ul>
                 
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
<br> <br> <br>
  


    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/main.js"></script>
