@model CartModel
@{
    ViewData["Title"] = "Index";
}

<style>
    .white-text {
        color: white;
    }
</style>

<h1>Shopping Cart</h1>

<div class="row mt-5">
    <div class="col-md-8">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th class="white-text">Product Name</th>
                    <th class="white-text">Price</th>
                    <th class="white-text">Quantity</th>
                    <th class="white-text">Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CartItems)
                {
                <tr>
                    <td>
                        <img src="~/img/@item.ImageUrl" width="80" />
                    </td>
                    <td class="white-text">@item.Name</td>
                    <td class="white-text">@item.Price.ToString("c")</td>
                    <td class="white-text">@item.Quantity</td>
                    <td class="white-text">@((item.Quantity*item.Price).ToString("c"))</td>
                    <td>
                        <button class="btn btn-danger btn-sm">
                            <i class="fa fa-times fa-fw"></i>
                        </button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-4"></div>
</div>
